# Adidas Sales Dataset in United States 


This Adidas sales dataset is a collection of data that includes information on the sales of Adidas products between January 1st 2020 and December 31st 2021(Covid-19 Highest Peak.) This type of dataset may include details such as the number of units sold, the total sales , the location of the sales, the type of product sold, and any other relevant information.

Adidas sales data can be useful for a variety of purposes, such as analyzing sales trends, identifying successful products or marketing campaigns, and developing strategies for future sales. It can also be used to compare Adidas sales to those of competitors, or to analyze the effectiveness of different marketing or sales channels.

## About the Dataset

14 Columns 

- Retailer: Name of the Retailer, retailing adidas Men's/Women's Athletic Footwear/Street Footwear and Men's/Women's Apparel.

- Retailer ID

- Invoice Date: AKA date of the purchase

- Region: In the US

- State: 50 states in the US

- City: In the US (more or less 52 cities)

- Product: Men's and Women's Athletic Footwear and Street Footwear and Men's and Women's Apparel

- Price per Unit: of product per region,city,state

- Units Sold: of product per region,city,state

- Total Sales

- Operating Profit

- Operating Margin

- Sales Method: 'In-store' 'Outlet' 'Online'

In [1]:
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor 
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor

from sklearn import tree

In [4]:
df= pd.read_csv("adidas_csv.csv")
df

,Unnamed: 0,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,9643,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,9644,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,9645,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,9646,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,9647,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [5]:
df.isna().sum()

Unnamed: 0          0
Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Operating Margin    0
Sales Method        0
dtype: int64

In [6]:

# Method 1: Retrieve unique values for each column
unique_values_dict = {}
for column in df.columns:
    unique_values_dict[column] = df[column].unique()

# Print unique values for each column
for column, values in unique_values_dict.items():
    print(f'Unique values in column {column}:')
    print(values)
    print()

# Approach 2: Retrieving unique values for a specific column

#column_name = 'column_name'
#unique_values_column = df[column_name].unique()

#print(f'Unique values in column {column_name}:')
#print(unique_values_column)

Unique values in column Unnamed: 0:
[   0    1    2 ... 9645 9646 9647]

Unique values in column Retailer:
['Foot Locker' 'Walmart' 'Sports Direct' 'West Gear' "Kohl's" 'Amazon']

Unique values in column Retailer ID:
[1185732 1197831 1128299 1189833]

Unique values in column Invoice Date:
['2020-01-01 00:00:00' '2020-01-02 00:00:00' '2020-01-03 00:00:00'
 '2020-01-04 00:00:00' '2020-01-05 00:00:00' '2020-01-06 00:00:00'
 '2020-01-07 00:00:00' '2020-01-08 00:00:00' '2020-01-21 00:00:00'
 '2020-01-22 00:00:00' '2020-01-23 00:00:00' '2020-01-24 00:00:00'
 '2020-01-25 00:00:00' '2020-01-26 00:00:00' '2020-01-27 00:00:00'
 '2020-01-28 00:00:00' '2020-01-29 00:00:00' '2020-01-30 00:00:00'
 '2020-01-31 00:00:00' '2020-02-01 00:00:00' '2020-02-02 00:00:00'
 '2020-02-03 00:00:00' '2020-02-04 00:00:00' '2020-02-05 00:00:00'
 '2020-02-06 00:00:00' '2020-02-07 00:00:00' '2020-02-08 00:00:00'
 '2020-02-09 00:00:00' '2020-02-10 00:00:00' '2020-03-03 00:00:00'
 '2020-03-04 00:00:00' '2020-03-05 00:00:00' '2020-03-06 00:00:00'
 '2020-03-07 00:00:00' '2020-03-08 00:00:00' '2020-03-09 00:00:00'
 '2020-03-10 00:00:00' '2020-03-11 00:00:00' '2020-03-12 00:00:00'
 '2020-03-13 00:00:00' '2020-03-14 00:00:00' '2020-03-15 00:00:00'
 '2020-03-16 00:00:00' '2020-03-17 00:00:00' '2020-03-18 00:00:00'
 '2020-03-31 00:00:00' '2020-04-17 00:00:00' '2020-04-18 00:00:00'
 '2020-04-19 00:00:00' '2020-04-20 00:00:00' '2020-04-21 00:00:00'
 '2020-04-22 00:00:00' '2020-04-23 00:00:00' '2020-04-24 00:00:00'
 '2020-04-25 00:00:00' '2020-04-26 00:00:00' '2020-04-27 00:00:00'
 '2020-04-28 00:00:00' '2020-04-29 00:00:00' '2020-04-30 00:00:00'
 '2020-05-01 00:00:00' '2020-05-02 00:00:00' '2020-05-03 00:00:00'
 '2020-05-04 00:00:00' '2020-05-05 00:00:00' '2020-05-06 00:00:00'
 '2020-05-07 00:00:00' '2020-07-18 00:00:00' '2020-07-19 00:00:00'
 '2020-07-20 00:00:00' '2020-07-21 00:00:00' '2020-07-22 00:00:00'
 '2020-07-23 00:00:00' '2020-07-24 00:00:00' '2020-07-25 00:00:00'
 '2020-07-26 00:00:00' '2020-07-27 00:00:00' '2020-07-28 00:00:00'
 '2020-07-29 00:00:00' '2020-07-30 00:00:00' '2020-07-31 00:00:00'
 '2020-08-01 00:00:00' '2020-08-02 00:00:00' '2020-08-03 00:00:00'
 '2020-08-04 00:00:00' '2020-08-05 00:00:00' '2020-08-06 00:00:00'
 '2020-08-07 00:00:00' '2020-08-08 00:00:00' '2020-08-09 00:00:00'
 '2020-08-10 00:00:00' '2020-08-11 00:00:00' '2020-08-12 00:00:00'
 '2020-08-13 00:00:00' '2020-08-14 00:00:00' '2020-08-15 00:00:00'
 '2020-08-16 00:00:00' '2020-08-17 00:00:00' '2020-08-18 00:00:00'
 '2020-08-19 00:00:00' '2020-08-20 00:00:00' '2020-08-21 00:00:00'
 '2020-08-22 00:00:00' '2020-08-23 00:00:00' '2020-08-24 00:00:00'
 '2020-08-25 00:00:00' '2020-08-26 00:00:00' '2020-08-27 00:00:00'
 '2020-08-28 00:00:00' '2020-08-29 00:00:00' '2020-08-30 00:00:00'
 '2020-08-31 00:00:00' '2020-09-01 00:00:00' '2020-09-02 00:00:00'
 '2020-09-03 00:00:00' '2020-09-04 00:00:00' '2020-09-05 00:00:00'
 '2020-09-06 00:00:00' '2020-09-07 00:00:00' '2020-09-08 00:00:00'
 '2020-09-09 00:00:00' '2020-09-10 00:00:00' '2020-09-11 00:00:00'
 '2020-09-12 00:00:00' '2020-09-13 00:00:00' '2020-09-14 00:00:00'
 '2020-09-15 00:00:00' '2020-09-16 00:00:00' '2020-10-20 00:00:00'
 '2020-10-21 00:00:00' '2020-10-22 00:00:00' '2020-10-23 00:00:00'
 '2020-10-24 00:00:00' '2020-10-25 00:00:00' '2020-10-26 00:00:00'
 '2020-10-27 00:00:00' '2020-10-28 00:00:00' '2020-10-29 00:00:00'
 '2020-10-30 00:00:00' '2020-10-31 00:00:00' '2020-11-01 00:00:00'
 '2020-11-02 00:00:00' '2020-11-03 00:00:00' '2020-11-04 00:00:00'
 '2020-11-05 00:00:00' '2020-11-06 00:00:00' '2020-11-07 00:00:00'
 '2020-11-08 00:00:00' '2020-11-09 00:00:00' '2020-11-10 00:00:00'
 '2020-11-11 00:00:00' '2020-11-12 00:00:00' '2020-11-13 00:00:00'
 '2020-11-14 00:00:00' '2020-11-15 00:00:00' '2020-12-22 00:00:00'
 '2020-12-23 00:00:00' '2020-12-24 00:00:00' '2020-12-25 00:00:00'
 '2020-12-26 00:00:00' '2020-12-27 00:00:00' '2020-12-28 00:00:00'
 '2020-12-29 00:00:00' '2020-12-30 00:00:00' '2020-12-31 00:00:00'
 '2021-01-01 00:00:00' '2021-01-02 00:00:00' '2021-01-03 00:00:00'
 '2021-01-04 00:00:00' '2021-01-05 00:00:00' '2021-01-06 00:00:00'
 '2021-01-07 00:00:00' '2021-01-08 00:00:00' '2021-01-09 00:00:00'
 '2021-01-10 00:00:00' '2021-01-11 00:00:00' '2021-01-12 00:00:00'
 '2021-01-13 00:00:00' '2021-01-14 00:00:00' '2021-01-15 00:00:00'
 '2021-01-16 00:00:00' '2021-01-17 00:00:00' '2021-01-18 00:00:00'
 '2021-01-19 00:00:00' '2021-01-20 00:00:00' '2021-01-21 00:00:00'
 '2021-01-22 00:00:00' '2021-01-23 00:00:00' '2021-01-24 00:00:00'
 '2021-01-25 00:00:00' '2021-01-26 00:00:00' '2021-01-27 00:00:00'
 '2021-01-28 00:00:00' '2021-01-29 00:00:00' '2021-01-30 00:00:00'
 '2021-01-31 00:00:00' '2021-02-01 00:00:00' '2021-02-02 00:00:00'
 '2021-02-03 00:00:00' '2021-02-04 00:00:00' '2021-02-05 00:00:00'
 '2021-02-06 00:00:00' '2021-02-07 00:00:00' '2021-02-08 00:00:00'
 '2021-02-09 00:00:00' '2021-02-10 00:00:00' '2021-02-11 00:00:00'
 '2021-02-12 00:00:00' '2021-02-13 00:00:00' '2021-02-14 00:00:00'
 '2021-02-15 00:00:00' '2021-02-16 00:00:00' '2021-02-17 00:00:00'
 '2021-02-18 00:00:00' '2021-03-09 00:00:00' '2021-03-10 00:00:00'
 '2021-03-11 00:00:00' '2021-03-12 00:00:00' '2021-03-13 00:00:00'
 '2021-03-14 00:00:00' '2021-03-15 00:00:00' '2021-03-16 00:00:00'
 '2021-03-17 00:00:00' '2021-03-18 00:00:00' '2021-03-19 00:00:00'
 '2021-03-20 00:00:00' '2021-03-21 00:00:00' '2021-03-22 00:00:00'
 '2021-03-23 00:00:00' '2021-04-06 00:00:00' '2021-04-07 00:00:00'
 '2021-04-08 00:00:00' '2021-04-09 00:00:00' '2021-04-10 00:00:00'
 '2021-04-11 00:00:00' '2021-04-12 00:00:00' '2021-04-13 00:00:00'
 '2021-04-14 00:00:00' '2021-04-15 00:00:00' '2021-04-16 00:00:00'
 '2021-04-17 00:00:00' '2021-04-18 00:00:00' '2021-04-19 00:00:00'
 '2021-04-20 00:00:00' '2021-04-21 00:00:00' '2021-04-22 00:00:00'
 '2021-04-23 00:00:00' '2021-04-24 00:00:00' '2021-04-25 00:00:00'
 '2021-04-26 00:00:00' '2021-04-27 00:00:00' '2021-04-28 00:00:00'
 '2021-04-29 00:00:00' '2021-04-30 00:00:00' '2021-05-01 00:00:00'
 '2021-05-02 00:00:00' '2021-05-03 00:00:00' '2021-05-04 00:00:00'
 '2021-05-05 00:00:00' '2021-05-06 00:00:00' '2021-05-07 00:00:00'
 '2021-05-08 00:00:00' '2021-05-09 00:00:00' '2021-05-10 00:00:00'
 '2021-05-11 00:00:00' '2021-05-12 00:00:00' '2021-05-13 00:00:00'
 '2021-05-14 00:00:00' '2021-05-15 00:00:00' '2021-05-16 00:00:00'
 '2021-05-17 00:00:00' '2021-05-18 00:00:00' '2021-05-19 00:00:00'
 '2021-05-20 00:00:00' '2021-05-21 00:00:00' '2021-05-22 00:00:00'
 '2021-05-23 00:00:00' '2021-05-24 00:00:00' '2021-05-25 00:00:00'
 '2021-05-26 00:00:00' '2021-05-27 00:00:00' '2021-05-28 00:00:00'
 '2021-05-29 00:00:00' '2021-05-30 00:00:00' '2021-05-31 00:00:00'
 '2021-06-01 00:00:00' '2021-06-02 00:00:00' '2021-06-03 00:00:00'
 '2021-06-04 00:00:00' '2021-06-05 00:00:00' '2021-06-06 00:00:00'
 '2021-06-07 00:00:00' '2021-06-08 00:00:00' '2021-06-09 00:00:00'
 '2021-06-10 00:00:00' '2021-06-11 00:00:00' '2021-06-12 00:00:00'
 '2021-06-13 00:00:00' '2021-06-14 00:00:00' '2021-06-15 00:00:00'
 '2021-06-16 00:00:00' '2021-06-17 00:00:00' '2021-06-18 00:00:00'
 '2021-06-19 00:00:00' '2021-06-20 00:00:00' '2021-06-21 00:00:00'
 '2021-06-22 00:00:00' '2021-06-23 00:00:00' '2021-06-24 00:00:00'
 '2021-06-25 00:00:00' '2021-06-26 00:00:00' '2021-06-27 00:00:00'
 '2021-06-28 00:00:00' '2021-06-29 00:00:00' '2021-06-30 00:00:00'
 '2021-07-01 00:00:00' '2021-07-02 00:00:00' '2021-07-03 00:00:00'
 '2021-07-04 00:00:00' '2021-07-05 00:00:00' '2021-07-06 00:00:00'
 '2021-07-07 00:00:00' '2021-07-08 00:00:00' '2021-07-09 00:00:00'
 '2021-07-10 00:00:00' '2021-07-11 00:00:00' '2021-07-12 00:00:00'
 '2021-07-13 00:00:00' '2021-07-14 00:00:00' '2021-07-15 00:00:00'
 '2021-07-16 00:00:00' '2021-07-17 00:00:00' '2021-07-18 00:00:00'
 '2021-07-19 00:00:00' '2021-07-20 00:00:00' '2021-07-21 00:00:00'
 '2021-07-22 00:00:00' '2021-07-23 00:00:00' '2021-07-24 00:00:00'
 '2021-07-25 00:00:00' '2021-07-26 00:00:00' '2021-07-27 00:00:00'
 '2021-07-28 00:00:00' '2021-07-29 00:00:00' '2021-07-30 00:00:00'
 '2021-07-31 00:00:00' '2021-08-01 00:00:00' '2021-08-02 00:00:00'
 '2021-08-03 00:00:00' '2021-08-04 00:00:00' '2021-08-05 00:00:00'
 '2021-08-06 00:00:00' '2021-08-07 00:00:00' '2021-08-08 00:00:00'
 '2021-08-09 00:00:00' '2021-08-10 00:00:00' '2021-08-11 00:00:00'
 '2021-08-12 00:00:00' '2021-08-13 00:00:00' '2021-08-14 00:00:00'
 '2021-08-15 00:00:00' '2021-08-16 00:00:00' '2021-08-17 00:00:00'
 '2021-08-18 00:00:00' '2021-08-19 00:00:00' '2021-08-20 00:00:00'
 '2021-08-21 00:00:00' '2021-08-22 00:00:00' '2021-08-23 00:00:00'
 '2021-08-24 00:00:00' '2021-08-25 00:00:00' '2021-08-26 00:00:00'
 '2021-08-27 00:00:00' '2021-08-28 00:00:00' '2021-08-29 00:00:00'
 '2021-08-30 00:00:00' '2021-08-31 00:00:00' '2021-09-01 00:00:00'
 '2021-09-02 00:00:00' '2021-09-03 00:00:00' '2021-09-04 00:00:00'
 '2021-09-05 00:00:00' '2021-09-06 00:00:00' '2021-09-07 00:00:00'
 '2021-09-08 00:00:00' '2021-09-09 00:00:00' '2021-09-10 00:00:00'
 '2021-09-11 00:00:00' '2021-09-12 00:00:00' '2021-09-13 00:00:00'
 '2021-09-14 00:00:00' '2021-09-15 00:00:00' '2021-09-16 00:00:00'
 '2021-09-17 00:00:00' '2021-09-18 00:00:00' '2021-09-19 00:00:00'
 '2021-09-20 00:00:00' '2021-09-21 00:00:00' '2021-09-22 00:00:00'
 '2021-09-23 00:00:00' '2021-09-24 00:00:00' '2021-09-25 00:00:00'
 '2021-09-26 00:00:00' '2021-09-27 00:00:00' '2021-09-28 00:00:00'
 '2021-09-29 00:00:00' '2021-09-30 00:00:00' '2021-10-01 00:00:00'
 '2021-10-02 00:00:00' '2021-10-03 00:00:00' '2021-10-04 00:00:00'
 '2021-10-05 00:00:00' '2021-10-06 00:00:00' '2021-10-07 00:00:00'
 '2021-10-08 00:00:00' '2021-10-09 00:00:00' '2021-10-10 00:00:00'
 '2021-10-11 00:00:00' '2021-10-12 00:00:00' '2021-10-13 00:00:00'
 '2021-10-14 00:00:00' '2021-10-15 00:00:00' '2021-10-16 00:00:00'
 '2021-10-17 00:00:00' '2021-10-18 00:00:00' '2021-10-19 00:00:00'
 '2021-10-20 00:00:00' '2021-10-21 00:00:00' '2021-10-22 00:00:00'
 '2021-10-23 00:00:00' '2021-10-24 00:00:00' '2021-10-25 00:00:00'
 '2021-10-26 00:00:00' '2021-10-27 00:00:00' '2021-10-28 00:00:00'
 '2021-10-29 00:00:00' '2021-10-30 00:00:00' '2021-10-31 00:00:00'
 '2021-11-01 00:00:00' '2021-11-02 00:00:00' '2021-11-03 00:00:00'
 '2021-11-04 00:00:00' '2021-11-05 00:00:00' '2021-11-06 00:00:00'
 '2021-11-07 00:00:00' '2021-11-08 00:00:00' '2021-11-09 00:00:00'
 '2021-11-10 00:00:00' '2021-11-11 00:00:00' '2021-11-12 00:00:00'
 '2021-11-13 00:00:00' '2021-11-14 00:00:00' '2021-11-15 00:00:00'
 '2021-11-16 00:00:00' '2021-11-17 00:00:00' '2021-11-18 00:00:00'
 '2021-11-19 00:00:00' '2021-11-20 00:00:00' '2021-11-21 00:00:00'
 '2021-11-22 00:00:00' '2021-11-23 00:00:00' '2021-11-24 00:00:00'
 '2021-11-25 00:00:00' '2021-11-26 00:00:00' '2021-11-27 00:00:00'
 '2021-11-28 00:00:00' '2021-11-29 00:00:00' '2021-11-30 00:00:00'
 '2021-12-01 00:00:00' '2021-12-02 00:00:00' '2021-12-03 00:00:00'
 '2021-12-04 00:00:00' '2021-12-05 00:00:00' '2021-12-06 00:00:00'
 '2021-12-07 00:00:00' '2021-12-08 00:00:00' '2021-12-09 00:00:00'
 '2021-12-10 00:00:00' '2021-12-11 00:00:00' '2021-12-12 00:00:00'
 '2021-12-13 00:00:00' '2021-12-14 00:00:00' '2021-12-15 00:00:00'
 '2021-12-16 00:00:00' '2021-12-17 00:00:00' '2021-12-18 00:00:00'
 '2021-12-19 00:00:00' '2021-12-20 00:00:00' '2021-12-21 00:00:00'
 '2021-12-22 00:00:00' '2021-12-23 00:00:00' '2021-12-24 00:00:00'
 '2021-12-25 00:00:00' '2021-12-26 00:00:00' '2021-12-27 00:00:00'
 '2021-12-28 00:00:00' '2021-12-29 00:00:00' '2021-12-30 00:00:00'
 '2021-12-31 00:00:00' '2020-01-09 00:00:00' '2020-01-10 00:00:00'
 '2020-01-11 00:00:00' '2020-01-12 00:00:00' '2020-01-13 00:00:00'
 '2020-01-14 00:00:00' '2020-01-15 00:00:00' '2020-01-16 00:00:00'
 '2020-01-17 00:00:00' '2020-01-18 00:00:00' '2020-01-19 00:00:00'
 '2020-01-20 00:00:00' '2020-02-11 00:00:00' '2020-02-12 00:00:00'
 '2020-02-13 00:00:00' '2020-02-14 00:00:00' '2020-02-15 00:00:00'
 '2020-02-16 00:00:00' '2020-02-17 00:00:00' '2020-02-18 00:00:00'
 '2020-02-19 00:00:00' '2020-02-20 00:00:00' '2020-02-21 00:00:00'
 '2020-02-22 00:00:00' '2020-02-23 00:00:00' '2020-02-24 00:00:00'
 '2020-02-25 00:00:00' '2020-02-26 00:00:00' '2020-02-27 00:00:00'
 '2020-02-28 00:00:00' '2020-03-01 00:00:00' '2020-03-02 00:00:00'
 '2020-03-19 00:00:00' '2020-03-20 00:00:00' '2020-03-21 00:00:00'
 '2020-03-22 00:00:00' '2020-03-23 00:00:00' '2020-03-24 00:00:00'
 '2020-03-25 00:00:00' '2020-03-26 00:00:00' '2020-03-27 00:00:00'
 '2020-03-28 00:00:00' '2020-03-29 00:00:00' '2020-03-30 00:00:00'
 '2020-04-01 00:00:00' '2020-04-02 00:00:00' '2020-04-03 00:00:00'
 '2020-04-04 00:00:00' '2020-04-05 00:00:00' '2020-04-06 00:00:00'
 '2020-04-07 00:00:00' '2020-04-08 00:00:00' '2020-04-09 00:00:00'
 '2020-04-10 00:00:00' '2020-04-11 00:00:00' '2020-04-12 00:00:00'
 '2020-04-13 00:00:00' '2020-04-14 00:00:00' '2020-04-15 00:00:00'
 '2020-04-16 00:00:00' '2020-05-08 00:00:00' '2020-05-09 00:00:00'
 '2020-05-10 00:00:00' '2020-05-11 00:00:00' '2020-05-12 00:00:00'
 '2020-05-13 00:00:00' '2020-05-14 00:00:00' '2020-05-15 00:00:00'
 '2020-05-16 00:00:00' '2020-05-17 00:00:00' '2020-05-18 00:00:00'
 '2020-05-19 00:00:00' '2020-05-20 00:00:00' '2020-05-21 00:00:00'
 '2020-05-22 00:00:00' '2020-05-23 00:00:00' '2020-05-24 00:00:00'
 '2020-05-25 00:00:00' '2020-05-26 00:00:00' '2020-05-27 00:00:00'
 '2020-05-28 00:00:00' '2020-05-29 00:00:00' '2020-05-30 00:00:00'
 '2020-05-31 00:00:00' '2020-06-01 00:00:00' '2020-06-02 00:00:00'
 '2020-06-03 00:00:00' '2020-06-04 00:00:00' '2020-06-05 00:00:00'
 '2020-06-06 00:00:00' '2020-06-07 00:00:00' '2020-06-08 00:00:00'
 '2020-06-09 00:00:00' '2020-06-10 00:00:00' '2020-06-11 00:00:00'
 '2020-06-12 00:00:00' '2020-06-13 00:00:00' '2020-06-14 00:00:00'
 '2020-06-15 00:00:00' '2020-06-16 00:00:00' '2020-06-17 00:00:00'
 '2020-06-18 00:00:00' '2020-06-19 00:00:00' '2020-06-20 00:00:00'
 '2020-06-21 00:00:00' '2020-06-22 00:00:00' '2020-06-23 00:00:00'
 '2020-06-24 00:00:00' '2020-06-25 00:00:00' '2020-06-26 00:00:00'
 '2020-06-27 00:00:00' '2020-06-28 00:00:00' '2020-06-29 00:00:00'
 '2020-06-30 00:00:00' '2020-07-01 00:00:00' '2020-07-02 00:00:00'
 '2020-07-03 00:00:00' '2020-07-04 00:00:00' '2020-07-05 00:00:00'
 '2020-07-06 00:00:00' '2020-07-07 00:00:00' '2020-07-08 00:00:00'
 '2020-07-09 00:00:00' '2020-07-10 00:00:00' '2020-07-11 00:00:00'
 '2020-07-12 00:00:00' '2020-07-13 00:00:00' '2020-07-14 00:00:00'
 '2020-07-15 00:00:00' '2020-07-16 00:00:00' '2020-07-17 00:00:00'
 '2020-09-17 00:00:00' '2020-09-18 00:00:00' '2020-09-19 00:00:00'
 '2020-09-20 00:00:00' '2020-09-21 00:00:00' '2020-09-22 00:00:00'
 '2020-09-23 00:00:00' '2020-09-24 00:00:00' '2020-09-25 00:00:00'
 '2020-09-26 00:00:00' '2020-09-27 00:00:00' '2020-09-28 00:00:00'
 '2020-09-29 00:00:00' '2020-09-30 00:00:00' '2020-10-01 00:00:00'
 '2020-10-02 00:00:00' '2020-10-03 00:00:00' '2020-10-04 00:00:00'
 '2020-10-05 00:00:00' '2020-10-06 00:00:00' '2020-10-07 00:00:00'
 '2020-10-08 00:00:00' '2020-10-09 00:00:00' '2020-10-10 00:00:00'
 '2020-10-17 00:00:00' '2020-10-18 00:00:00' '2020-10-19 00:00:00'
 '2020-11-16 00:00:00' '2020-11-17 00:00:00' '2020-11-18 00:00:00'
 '2020-11-19 00:00:00' '2020-11-20 00:00:00' '2020-11-21 00:00:00'
 '2020-11-22 00:00:00' '2020-11-23 00:00:00' '2020-11-24 00:00:00'
 '2020-11-25 00:00:00' '2020-11-26 00:00:00' '2020-11-27 00:00:00'
 '2020-11-28 00:00:00' '2020-11-29 00:00:00' '2020-11-30 00:00:00'
 '2020-12-01 00:00:00' '2020-12-02 00:00:00' '2020-12-03 00:00:00'
 '2020-12-04 00:00:00' '2020-12-05 00:00:00' '2020-12-06 00:00:00'
 '2020-12-07 00:00:00' '2020-12-08 00:00:00' '2020-12-09 00:00:00'
 '2020-12-10 00:00:00' '2020-12-11 00:00:00' '2020-12-12 00:00:00'
 '2020-12-13 00:00:00' '2020-12-14 00:00:00' '2020-12-15 00:00:00'
 '2020-12-16 00:00:00' '2020-12-17 00:00:00' '2020-12-18 00:00:00'
 '2020-12-19 00:00:00' '2020-12-20 00:00:00' '2020-12-21 00:00:00'
 '2021-02-19 00:00:00' '2021-02-20 00:00:00' '2021-02-21 00:00:00'
 '2021-02-22 00:00:00' '2021-02-23 00:00:00' '2021-02-24 00:00:00'
 '2021-02-25 00:00:00' '2021-02-26 00:00:00' '2021-02-27 00:00:00'
 '2021-02-28 00:00:00' '2021-03-01 00:00:00' '2021-03-02 00:00:00'
 '2021-03-03 00:00:00' '2021-03-04 00:00:00' '2021-03-05 00:00:00'
 '2021-03-06 00:00:00' '2021-03-07 00:00:00' '2021-03-08 00:00:00'
 '2021-03-24 00:00:00' '2021-03-25 00:00:00' '2021-03-26 00:00:00'
 '2021-03-27 00:00:00' '2021-03-28 00:00:00' '2021-03-29 00:00:00'
 '2021-03-30 00:00:00' '2021-03-31 00:00:00' '2021-04-01 00:00:00'
 '2021-04-02 00:00:00' '2021-04-03 00:00:00' '2021-04-04 00:00:00'
 '2021-04-05 00:00:00']

Unique values in column Region:
['Northeast' 'South' 'West' 'Midwest' 'Southeast']

Unique values in column State:
['New York' 'Texas' 'California' 'Illinois' 'Pennsylvania' 'Nevada'
 'Colorado' 'Washington' 'Florida' 'Minnesota' 'Montana' 'Tennessee'
 'Nebraska' 'Alabama' 'Maine' 'Alaska' 'Hawaii' 'Wyoming' 'Virginia'
 'Michigan' 'Missouri' 'Utah' 'Oregon' 'Louisiana' 'Idaho' 'Arizona'
 'New Mexico' 'Georgia' 'South Carolina' 'North Carolina' 'Ohio'
 'Kentucky' 'Mississippi' 'Arkansas' 'Oklahoma' 'Kansas' 'South Dakota'
 'North Dakota' 'Iowa' 'Wisconsin' 'Indiana' 'West Virginia' 'Maryland'
 'Delaware' 'New Jersey' 'Connecticut' 'Rhode Island' 'Massachusetts'
 'Vermont' 'New Hampshire']

Unique values in column City:
['New York' 'Houston' 'San Francisco' 'Los Angeles' 'Chicago' 'Dallas'
 'Philadelphia' 'Las Vegas' 'Denver' 'Seattle' 'Miami' 'Minneapolis'
 'Billings' 'Knoxville' 'Omaha' 'Birmingham' 'Portland' 'Anchorage'
 'Honolulu' 'Orlando' 'Albany' 'Cheyenne' 'Richmond' 'Detroit' 'St. Louis'
 'Salt Lake City' 'New Orleans' 'Boise' 'Phoenix' 'Albuquerque' 'Atlanta'
 'Charleston' 'Charlotte' 'Columbus' 'Louisville' 'Jackson' 'Little Rock'
 'Oklahoma City' 'Wichita' 'Sioux Falls' 'Fargo' 'Des Moines' 'Milwaukee'
 'Indianapolis' 'Baltimore' 'Wilmington' 'Newark' 'Hartford' 'Providence'
 'Boston' 'Burlington' 'Manchester']

Unique values in column Product:
["Men's Street Footwear" "Men's Athletic Footwear"
 "Women's Street Footwear" "Women's Athletic Footwear" "Men's Apparel"
 "Women's Apparel"]

Unique values in column Price per Unit:
[ 50.  40.  45.  60.  55.  65.  70.  25.  35.  30.  80.  75.  60.  55.
  45.  65.  20.  30.  65.  75.  50.  85.  70.  80. 100.  75.  90.  95.
  50.  45.  40.  60.  25.  15.  35.  20.  10.  20.  85. 110.  90. 105.
  55.  30.  40.  45.  30.  15.  40.  15.  25.  10.  35.  80.  90.  25.
  60.  35.  65.  20.  15.  25.  10.  47.  36.  41.  55.  46.  44.  58.
  48.  39.  43.  59.  56.  49.  54.  64.  53.  61.  62.  68.  52.  66.
  51.  24.  34.  33.  23.  32.  38.  29.  37.  27.  42.  72.  63.  69.
  76.  67.  57.  28.  18.  19.  71.  78.  73.  74.  83.  82.  98.  77.
  88.  86.  14.   9.  15.  97.  81.  79.  96.  84.  89. 103. 101.  87.
  10.  92.  31.  26.  21.  13.  22.  17.  12.  16.  11.   7.   8.]

Unique values in column Units Sold:
[1200 1000  850  900 1250  950  825 1220  925  800  875 1050 1275 1025
 1100 1075 1150  975  920  700  550  675  625  500  600  650  725  525
  775  750  575  450  425  475  275  125  175  225  100  495  200   75
  150  250  350  325  400  375  300  195   50  445   25  470 1070 1125
  745  145  420    0   95  545  570  320  870  820  520  770  795  620
  295  670  345 1020 1045  695  945  595  220  720  395  645  245  270
  170  336  260  247  234  313  261  276  206  243  290  354  259  216
  230  238  252  239  215  317  278  305  319  267  231  286  308  257
  241  360  268  280  236  299  273  258  254  263  312  285  210  154
  203  213  255  176  196  182  174  189  163  147  232  168  169  293
  297  181  240  188  209  194  217  161  233  223  140  228  152  218
  248  155  219  277  202  208  160  113  106  156  119  131  221  224
  124   77   83   34   47   69  158   51   61   28   44  144   60   68
   19   38   63  122   42   20   65  134   54   35  135  105   81   56
  120  149   94   84   49   73  115   39   33  112   53   41   58  128
  116   85  167  142  126  111  138  173   36   46   13    8   45   22
  136   29   31   70   90   59   98  143   80  104   27   55  117   87

In [8]:
duplicate_rows_subset = df[df.duplicated(subset=["Unnamed: 0","Retailer","Retailer ID","Invoice Date","Region","State","City","Product","Price per Unit","Units Sold","Total Sales","Operating Profit","Operating Margin","Sales Method"])]

# Check if there are any duplicates in the entire DataFrame
if duplicate_rows.empty:
    print("No duplicates found in the DataFrame.")
else:
    print("Duplicate rows found in the DataFrame:")
    print(duplicate_rows)

# Check if there are duplicates based on a subset of columns
if duplicate_rows_subset.empty:
    print("No duplicates found based on the specified columns.")
else:
    print("Duplicate rows found based on the specified columns:")
    print(duplicate_rows_subset)

No duplicates found in the DataFrame.
No duplicates found based on the specified columns.

In [13]:
display(df.duplicated().sum())

0

In [10]:
print("first date: ", df["Invoice Date"].min(),"\n", "last date: ", df["Invoice Date"].max())

first date:  2020-01-01 00:00:00
 last date:  2021-12-31 00:00:00

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        9648 non-null   int64
 1   Retailer          9648 non-null   object
 2   Retailer ID       9648 non-null   int64
 3   Invoice Date      9648 non-null   object
 4   Region            9648 non-null   object
 5   State             9648 non-null   object
 6   City              9648 non-null   object
 7   Product           9648 non-null   object
 8   Price per Unit    9648 non-null   float64
 9   Units Sold        9648 non-null   int64
 10  Total Sales       9648 non-null   float64
 11  Operating Profit  9648 non-null   float64
 12  Operating Margin  9648 non-null   float64
 13  Sales Method      9648 non-null   object
dtypes: float64(4), int64(3), object(7)
memory usage: 1.0+ MB

In [12]:


# Drop the "Unnamed: 0" column without resetting the index
df.drop("Unnamed: 0", axis=1, inplace=True)
df

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [14]:
cols = []
for column in df.columns:
    cols.append(column.lower())
cols
df.columns = cols
df

,retailer,retailer id,invoice date,region,state,city,product,price per unit,units sold,total sales,operating profit,operating margin,sales method
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [15]:
#replacing the space for '_'
converter = lambda x: x.replace(' ', '_')
col_low= df.columns
col_low = list(map(converter, col_low))
df.columns = col_low
df

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,operating_margin,sales_method
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [16]:
df.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit      float64
units_sold            int64
total_sales         float64
operating_profit    float64
operating_margin    float64
sales_method         object
dtype: object

In [17]:
def value_count(df):
    for column in df.columns:
        print(column, ':', len(df[column].value_counts()))

# Call the function to count unique values for each column in df
value_count(df)

retailer : 6
retailer_id : 4
invoice_date : 724
region : 5
state : 50
city : 52
product : 6
price_per_unit : 139
units_sold : 361
total_sales : 3464
operating_profit : 6298
operating_margin : 110
sales_method : 3

In [18]:
df['invoice_date'] = pd.to_datetime(df['invoice_date'])
df

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,operating_margin,sales_method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

There is an error in retailer ID , it should be matching the number of Retailer name and if our desire was to keep retailer ID , we will need to convert to object datatype.
#But we only need one of them anyway, so we willd drop retailer_id.

In [20]:
df.drop("retailer_id", axis=1, inplace=True)
df

,retailer,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,operating_margin,sales_method
0,Foot Locker,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [21]:
df.dtypes

retailer                    object
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit             float64
units_sold                   int64
total_sales                float64
operating_profit           float64
operating_margin           float64
sales_method                object
dtype: object

In [22]:
display(df['region'].value_counts(dropna=False))
display(df['city'].value_counts(dropna=False))
display(df['state'].value_counts(dropna=False))
display(df['product'].value_counts(dropna=False))

West         2448
Northeast    2376
Midwest      1872
South        1728
Southeast    1224
Name: region, dtype: int64

Portland          360
Charleston        288
Orlando           216
Salt Lake City    216
Houston           216
Boise             216
Phoenix           216
Albuquerque       216
Atlanta           216
New York          216
Jackson           216
Little Rock       216
Oklahoma City     216
Hartford          216
Providence        216
Boston            216
Burlington        216
Richmond          216
New Orleans       216
Manchester        216
Dallas            216
Philadelphia      216
Knoxville         216
Birmingham        216
Las Vegas         216
Los Angeles       216
San Francisco     216
Chicago           144
Newark            144
Baltimore         144
Indianapolis      144
Milwaukee         144
Des Moines        144
Fargo             144
Sioux Falls       144
Wichita           144
Wilmington        144
Honolulu          144
Albany            144
Louisville        144
Columbus          144
Charlotte         144
Seattle           144
Miami             144
Minneapolis       144
Billings          144
Omaha             144
St. Louis         144
Detroit           144
Anchorage         144
Cheyenne          144
Denver            144
Name: city, dtype: int64

California        432
Texas             432
New York          360
Florida           360
Mississippi       216
Oregon            216
Louisiana         216
Idaho             216
New Mexico        216
Georgia           216
Arkansas          216
Virginia          216
Oklahoma          216
Connecticut       216
Rhode Island      216
Massachusetts     216
Vermont           216
Utah              216
Arizona           216
New Hampshire     216
Pennsylvania      216
Nevada            216
Alabama           216
Tennessee         216
South Dakota      144
Illinois          144
Colorado          144
New Jersey        144
Delaware          144
Maryland          144
West Virginia     144
Indiana           144
Wisconsin         144
Iowa              144
North Dakota      144
Michigan          144
Kansas            144
Missouri          144
Minnesota         144
Montana           144
Kentucky          144
Ohio              144
North Carolina    144
South Carolina    144
Nebraska          144
Maine             144
Alaska            144
Hawaii            144
Wyoming           144
Washington        144
Name: state, dtype: int64

Men's Street Footwear        1610
Men's Athletic Footwear      1610
Women's Street Footwear      1608
Women's Apparel              1608
Women's Athletic Footwear    1606
Men's Apparel                1606
Name: product, dtype: int64